<div id="logo" class="parallax-container">
    <h1 *ngIf="isFinishLoading">WELCOME TO EDDIE WU's COLLECTION</h1>
  </div>

  <div id="text-entry-aboutme" class="index-text-entry row">
    <div class="text-entry-title col-md-12">
      <h1>About Me...</h1>
    </div>
    <div class="text-entry-icon col-md-4">

    </div>
    <div class="text-entry-content offset-md-2 col-md-4">
      <p>Hi, My name is Eddie Wu.</p>
      <p>Welcome to my collection! I am a fresh graduate on Computer Science from City University of Hong Kong. I write programs for fun, and
        I treat it as my learning process to keep myself improving.</p>
      <p>Here is where I will share my learning experience as well as my side-projects and portfolio. I Hope
      you will enjoy it!</p>
    </div>
  </div>

<!-- Version 1 -->
<!--
  <div id="mobile-dev-photo" class="parallax-container-with-fading">

  </div>

  <div id="text-entry-mobiledev" class="index-text-entry row">
    <div class="text-entry-title col-md-12">
      <h1>Mobile Development</h1>
    </div>
    <div class="text-entry offset-md-3 col-md-6 col-sm-12">
      <div class="text-entry-icon">
        <img class="img-fluid" src="../../assets/images/mobiledev.png" alt="Mobile Development"/>
      </div>
      <div class="text-entry-content">
       <span class="align-middle">I develop iOS/Android Mobile Applications by using Xamarin. I am interested in writing some mobile apps for my own purpose!</span>
      </div>
    </div>
  </div>
-->

  <div id="mobile-dev-photo" class="parallax-container-with-fading">

  </div>
  <div id="text-entry-mobiledev" class="index-text-entry row">
   <div class="text-entry-title col-md-12">
     <h1>Mobile Development</h1>
   </div>
   <div class="text-entry-content offset-md-3 col-md-6 col-sm-12">
       <span class="align-middle">I develop iOS/Android Mobile Applications by using Xamarin. I am interested in writing some mobile apps for my own purpose!</span>
   </div>
  </div>


  <div id="web-dev-photo" class="parallax-container-with-fading">

  </div>
  <div id="text-entry-webdev" class="index-text-entry row">
    <div class="text-entry-title col-md-12">
      <h1>Web Development</h1>
    </div>
    <div class="text-entry-content offset-md-3 col-md-6 col-sm-12">
        <span class="align-middle">I develop Web Applications including frontend and backend, as technology growing rapidly, here is also the place I put on my personal learning footprint!</span>
    </div>
  </div>



  <div id="program-dev-photo" class="parallax-container-with-fading">

  </div>
  <div id="text-entry-programdev" class="index-text-entry row">
    <div class="text-entry-title col-md-12">
      <h1>Desktop Development</h1>
    </div>
    <div class="text-entry-content offset-md-3 col-md-6 col-sm-12">
        <span class="align-middle">I develop Desktop Applications that work on Windows platform. Some side-projects are available on the work page.</span>
    </div>
  </div>




<ngx-spinner type="cog" loadingText="Bringing you in..."></ngx-spinner>
